body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}
.top-container {
  background-color: #cae1f3;
  position: relative;
  padding-top: 100px;
}
.middle-container {
  margin: 100px auto 100px auto;
}

.bottom-container {
  background-color: rgb(161, 237, 240);
  padding: 50px;
  height: 50px;
}
.profile-pic {
  height: 200px;
}
h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  color: #56c4c4;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

a {
  color: #11999e;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.top-cloud {
  position: absolute;
  top: 50px;
  right: 350px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 3;
}

.computer-img {
  height: 200px;
  float: right;
  margin-left: 10px;
}

.chilli-img {
  height: 200px;
  float: left;
  margin-right: 15px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 30px;
  -webkit-box-shadow: 5px 5px 3px #939e9d;
  -moz-box-shadow: 5px 5px 3px #939e9d;
  box-shadow: 5px 5px 3px #939e9d;
  font-family: Georgia;
  color: #e0f0d1;
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.pro {
  font-size: 2rem;
  font-weight: normal;
}

p {
  color: #40514e;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 8%;
  border-width: 10px;
  border-color: rgb(243, 196, 163);
}

.contact-me {
  margin: 100px auto 100px auto;
  line-height: 2;
}

.about {
  width: 40%;
  margin: auto auto 100px auto;
}

.skills {
  margin-top: 100px;
}

.in-touch{
    width: 40%;
    margin: auto;
}

.footer-link{
    margin: 20px;
}

.facebook{
    height: 30px;
}

.linkedin{
    height: 30px;
}

.instagram{
    height: 30px;
}

a :hover{
    height: 40px;
}